<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-4">
  <div class="container">
    <a class="navbar-brand" href="<%= basePath %>/">
      🍽️ Receptek
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link <%= title === 'Főoldal' ? 'active' : '' %>" href="<%= basePath %>/">Főoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title === 'Receptek' ? 'active' : '' %>" href="<%= basePath %>/receptek">Receptek</a>
        </li>

        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Regisztráció' ? 'active' : '' %>" href="<%= basePath %>/regisztracio">Regisztráció</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Bejelentkezés' ? 'active' : '' %>" href="<%= basePath %>/login">Bejelentkezés</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <span class="navbar-text me-2">Szia, <strong><%= user.nev %></strong>!</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= basePath %>/logout">Kijelentkezés</a>
          </li>
          <% if (user.szerep === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link <%= title === 'Admin' ? 'active' : '' %>" href="<%= basePath %>/admin">Admin</a>
            </li>
          <% } %>
        <% } %>

        <li class="nav-item">
          <a class="nav-link <%= title === 'Kapcsolat' ? 'active' : '' %>" href="<%= basePath %>/kapcsolat">Kapcsolat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title === 'Üzenetek' ? 'active' : '' %>" href="<%= basePath %>/uzenetek">Üzenetek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title === 'CRUD – Ételek' ? 'active' : '' %>" href="<%= basePath %>/crud">CRUD</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
