<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ételek és Hozzávalók</title>
    <link rel="stylesheet" href="<%= basePath %>/css/yummy-red.css">
</head>
<body>

<%- include('partials/header') %>

<main>
    <h2>Ételek és Hozzávalók</h2>
    <table>
        <thead>
            <tr>
                <th>Étel név</th>
                <th>Kategória</th>
                <th>Hozzávalók</th>
            </tr>
        </thead>
        <tbody>
            <% lista.forEach(sor => { %>
            <tr>
                <td><%= sor.etel_nev %></td>
                <td><%= sor.kategoria_nev %></td>
                <td><%= sor.hozzavalok %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include('partials/footer') %>

</body>
</html>
